page{
    background: var(--ghostWhite);
}
.avatar {
    width: 80rpx;
    height: 80rpx;
    margin: 10rpx 30rpx;
    border-radius: 50%;
    overflow: hidden;

    &:active{
        filter: brightness(1.2);
    }
}

.nickname {
    color: #aaa;
}

.usermotto {
    margin: 10rpx 30rpx;

    .txt{
        margin: 10rpx 0;
        font-family: Helvetica, sans-serif;
    }
}
@animateTime: 1.5s;
.ul{
    margin: 10rpx 30rpx;
    border-radius: 20rpx;
    animation: roll-in 1s ease-out forwards;
    transition: all @animateTime;

    &.hot{
        background: red;
    }
    
    .li{
        padding: 20rpx;
        letter-spacing: 10rpx;
        font-weight: 900;
        font-style: italic;
        z-index: 100;

        &.animate{
            animation: rocket @animateTime ease forwards;
        }
    }
    .tiny-border{
        z-index: 10;
    }
}

@keyframes roll-in {
    0%{
        opacity: 0;
        transform: translateX(-50vw) rotateZ(3600deg);
    }
    to{
        opacity: 1;
        transform: none;
    }
}
@keyframes rocket{
    0%{
        letter-spacing: 10rpx;
    }
    70%{
        letter-spacing: 2rpx;
        justify-content: flex-end;
        transform: rotateY(360deg);
    }
    100%{
        justify-content: flex-end;
        transform: translateX(-100vw);
    }
}