// ----------------------【ColorUI】-----------------------------------
// 最终会写入app.wxss中，./colorUI里的文件并不会打包进dist
// 如果不使用ColorUI，删除以下三行import语句，并删除colorUI文件夹即可。
@import (inline) "./colorUI/main.wxss";
@import (inline) "./colorUI/icon.wxss";
@import (inline) "./colorUI/animation.wxss";

//----------------------【字体】-----------------------------------
.ft(20, 40, 2);

.ft(@min, @max, @step) when (@min < @max) {
  .ft@{min} {
    font-size: @min * 1rpx;
  }

  .ft(@min + @step, @max, @step)
}

//----------------------【颜色】-----------------------------------
@colors: #000, #111, #222, #333, #444, #555, #666, #777, #888, #999, #aaa, #bbb, #ccc, #ddd, #eee, #fff;
.colorLoop(0);
.bgLoop(0);

.colorLoop(@i) when (@i < length(@colors)) {
  .color_define(@i, extract(@colors, @i + 1));
  .colorLoop(@i + 1);

}

.bgLoop(@i) when (@i < length(@colors)) {
  .bg_define(@i, extract(@colors, @i + 1));
  .bgLoop(@i + 1);
}

.color_define(@i, @color) {
  .clr@{i} {
    color: @color;
  }
}

.bg_define(@i, @color) {
  .bg@{i} {
    background-color: @color;
  }
}
//----------------------【其他】-----------------------------------
.ophover:active{
  opacity: .6;
}
// 细下边框
.tiny-border{
  position: relative;
}
.tiny-border::after{
  position: absolute; 
  content: '';
  width: 100%;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: #e3e5e9;
  -webkit-transform: scale(1, 0.5);
  transform: scale(1, 0.5);
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
